@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../vendor/harvirsidhu/filament-cards/resources/views';

footer{
    background:#18181b;
}

.fi-sidebar.fi-main-sidebar.fi-sidebar-opened{
    background: #18181b!important;
}
.fi-main-sidebar{
    background: #18181b!important;
}

html{
    scrollbar-gutter: auto!important;
    overflow: hidden;
    max-height: 100vh;

}

.fi-main-ctn{
    max-height: 94vh!important;
}

aside.fi-sidebar.fi-main-sidebar.fi-sidebar-opened{
    background: #18181b!important;
}

.fi-sidebar{
    background: #18181b!important;
}

.fi-main.fi-width-full{
      scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    max-height: 96vh;
    overflow-y: auto;
}

.fi-user-menu .fi-dropdown-trigger{
     width: 32px!important;
}

.no-margin-padding .fi-section-content{
    padding: 0!important;
    }
